#Rail {
position: absolute;
    width: 3600px;
    left: -800px;
    height: 500px;
}

#slideshow{
    width: 800px;
    overflow: hidden;
    position:relative;
    height:500px;
}

#Rail img {
	height: 100%;
    width: 800px;
    object-fit: cover;
}